@using SpotifyAPI.Web.Models
@using System.Web
@model List<FullTrack>
@if (Model != null)
{
<ul class="ulSongList">
    @foreach (FullTrack track in Model)
    {
        <li track-id="@(track.Id)" class="track-item">

            @Html.Partial("_imageContent", track)

            <div class="title-artist">
                <div class="title">
                    <a href="javascript:void(0);" onclick="javascript:select('@track.Id',
                            '@HttpUtility.JavaScriptStringEncode(track.Name)',
                            '@track.Artists[0].Id',
                            '@HttpUtility.JavaScriptStringEncode(track.Artists[0].Name)',
                            true,
                            false);"
                       title="@track.Name" alt="@track.Name">
                        @track.Name
                    </a>

                </div>
                <div class="title">
                    @{string artists = string.Join(",", track.Artists.Select(a => a.Name));}
                    <a href="javascript:void(0);" onclick="javascript:select('@track.Id',
                            '@HttpUtility.JavaScriptStringEncode(track.Name)',
                            '@track.Artists[0].Id',
                            '@HttpUtility.JavaScriptStringEncode(track.Artists[0].Name)',
                            true,
                            false);" title="@artists" alt="@artists">
                        @artists
                    </a>
                </div>

            </div>
        </li>
    }
</ul>
<div style="clear: both"></div>
}